:root {
  user-select: none;
  background-color: #0077B6;
}

@font-face {
  font-family: 'Frani-Regular';
  src: url('./assets/fonts/Franie-Regular.ttf')
}

@font-face {
  font-family: 'Frani-SemiBold';
  src: url('./assets/fonts/Franie-SemiBold.ttf')
}

@font-face {
  font-family: 'Frani-Bold';
  src: url('./assets/fonts/Franie-Bold.ttf')
}